{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nano Book</title>
    <link rel="stylesheet" href="{% static 'Up2.css'%}">
</head>
<body>
    <header>
        <div class="Tepa">
            <img src="{% static 'logo/NanoBook.png'%}" alt="NanoBook Logo" width="700" height="200px">
        </div>
    </header>
    
    <div class="Orta">

        <h2>Parolni Tiklash</h2>
        <br>
        <form method="post">
            {% csrf_token%}
        <label>Parol: </label><br>
        {{form.new_password}}
        <label>Parol Qayta Kiriting: </label><br>
        {{form.confirm_password}}
        <br>
        <br>
        <br>
        <br>
        <button>DAVOM ETTIRISH</button>
        </form>
    </div>
</body>
</html>