<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nano Book</title>
    <link rel="stylesheet" href="dasturhaqda2.css">
</head>

<body>
    <div class="container">
        <div class="profile-icon">
            <img src="pdf6/photo_2024-11-06_14-43-02.jpg" alt="Profile Icon">
        </div>
        <h2>Shavkatov Abduvali</h2>

        <form class="profile-form">
            <label for="name">Ism:</label>
            <input type="text" id="name" placeholder="ismizi krting: ">

            <label for="surname">Familiya:</label>
            <input type="text" id="surname" placeholder="familiyez krting: ">

            <label for="login">Login:</label>
            <input type="text" id="login" placeholder="login krting: ">

            <label for="password">Parol:</label>
            <input type="password" id="password" placeholder="parol krting: ">

            <div class="card">
                <img src="pdf6/rasm99.png" alt="Profile Icon" class="rasm3">
                <div class="matn3">
                    <p class="s1">MUHAMMAD SODIQ</p>
                    <p class="s2">1234 5678 9101 11213</p>
                </div>
            </div><br>
            <a href="#"><button type="button" class="save-btn">SAQLASH</button></a>
        </form>
    </div>
</body>

</html>