<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nano Book</title>
    <link rel="stylesheet" href="tolov.css">
</head>

<body bgcolor="#EFE5DA">
    <header>
        <div class="Tepa">
            <img src="logo/NanoBook.png" alt="NanoBook Logo" width="400" height="200px"><br><br><br>
            <h1 class="h">To'lov qilish</h1>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="barchasi">
                <h2
                    style="display: flex; justify-content: center; align-items: center; padding-bottom: 20px; font-size: 24px;">
                    To'lov malumotlari</h2>
                <div class="a1">
                    <div class="left">
                        <h1>To'lov summasi:</h1>
                    </div>
                    <div class="right">
                        <p>99.000 so'm</p>
                    </div>
                </div>
                <div class="a2">
                    <div class="left">
                        <h1>ID raqam:</h1>
                    </div>
                    <div class="right">
                        <p>1501</p>
                    </div>
                </div>
                <div class="a3">
                    <div class="left">
                        <h1>Amaliyot narxi:</h1>
                    </div>
                    <div class="right">
                        <p>1.200 so'm</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="rasmlar">
                <a href="#"><img src="logo2/photo_2024-10-19_13-57-15-removebg-preview.png" alt="Uzum"></a>
                <a href="#"><img src="logo2/click.png" alt="Payme" style="border-radius: 15px;"></a>
                <a href="#"><img src="logo2/payme.png" alt="Click" style="border-radius: 15px;"></a>
            </div>
        </div>
    </section>
</body>

</html>